<?xml version="1.0" encoding="utf-8"?>
<set xmlns:android="http://schemas.android.com/apk/res/android" android:interpolator="@android:anim/linear_interpolator">
  <alpha
       android:duration="2000"
       android:fromAlpha="0.1"
       android:toAlpha="1.0">
  </alpha>
</set>