<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:local="http://schemas.android.com/apk/res-auto"
	android:layout_width="match_parent"
	android:layout_height="match_parent"
	android:gravity="center">
<TableLayout android:layout_width="match_parent"
    android:layout_height="wrap_content"        
    android:stretchColumns="1">

        <TableRow
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center">
            <android.support.v7.widget.AppCompatTextView
                android:text="Добавление бонусов"
                android:textAlignment="center"
                />
        </TableRow>

        <TableRow
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center">
            <android.support.v7.widget.AppCompatTextView                
                android:layout_height="50dp"
                android:textAlignment="center"
			    local:MvxBind="Text Phone"/>
        </TableRow>
    <TableRow
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center">
        <android.support.design.widget.TextInputLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="8dp"
            android:layout_marginBottom="8dp">
            <EditText
                android:id="@+id/input_orderSumm"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:inputType="numberSigned"
                android:hint="Сумма заказа:" 
				android:textAlignment="center"
				android:gravity="center"					
				local:MvxBind="Text OrderSumm, Mode=TwoWay">										
					</EditText>
        </android.support.design.widget.TextInputLayout>

    </TableRow>
    <TableRow
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:gravity="center">

        <TextView
            android:id="@+id/AddBonusCount"
            android:layout_width="210dp"
            android:layout_height="wrap_content"
            local:MvxBind="Text Format('Будет начислено {0} бонусов', BonusesCount)"/>
    </TableRow>

    <TableRow
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:gravity="center">
        <android.support.v7.widget.AppCompatButton
            android:id="@+id/btn_add_trans"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginTop="24dp"
            android:layout_marginBottom="24dp"
            android:padding="12dp"
            android:text="Добавить"
			local:MvxBind="Click AddBonusesCommand"/>
    </TableRow>

</TableLayout>
</LinearLayout>