<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:padding="0dp"
    android:background="@color/colorPrimary"
    android:clipToPadding="false">
    <ImageView
        android:id="@+id/bitmap"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:scaleType="centerCrop"
        android:adjustViewBounds="true"
        android:layout_alignParentTop="True"
        local:MvxBind="Bitmap ByteArrayToBitmap(Image);Visibility ArrayCountToVisible(Image)" />
    <LinearLayout
        local:MvxBind="Visibility ArrayCountToVisibleInverted(Image)"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:orientation="vertical"
		android:background="@android:color/black">
        <ImageView
            android:id="@+id/image_loading"
            android:layout_width="100dp"
            android:layout_height="match_parent"
            android:layout_gravity="center_horizontal"
            android:adjustViewBounds="true"
            android:background="#000000"
            android:layout_centerInParent="true"
            android:tint="@color/colorPrimaryLight"
            local:srcCompat="@drawable/glass" />
    </LinearLayout>
</LinearLayout>