<?xml version="1.0" encoding="utf-8"?>
<ScrollView
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:local="http://schemas.android.com/apk/res-auto"
	android:layout_width="fill_parent"
	android:layout_height="fill_parent"
	android:fitsSystemWindows="true"
	android:minWidth="25px"
	android:minHeight="25px">
	<LinearLayout
		android:orientation="vertical"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:paddingTop="56dp"
		android:paddingLeft="24dp"
		android:paddingRight="24dp"
		android:animateLayoutChanges="true"
		android:id="@+id/linearLayout1">
		<ImageView
			android:src="@drawable/logo"
			android:layout_width="wrap_content"
			android:layout_height="72dp"
			android:layout_marginBottom="24dp"
			android:layout_gravity="center_horizontal"
			android:id="@+id/imageView1" />
		<android.support.design.widget.TextInputLayout
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:layout_marginTop="8dp"
			android:layout_marginBottom="8dp"
			local:MvxBind="Visibility BoolToVisInverted(CodeRequested)"
			android:id="@+id/textInputLayout1">
			<EditText
				android:id="@+id/input_phone"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:inputType="phone"
				android:hint="Ваш номер телефона:"
				android:digits="0123456789+"
				local:MvxBind="Text Phone, Mode=TwoWay; Visibility BoolToVisInverted(CodeRequested)" />
		</android.support.design.widget.TextInputLayout>
		<android.support.v7.widget.AppCompatButton
			android:id="@+id/btn_login"
			android:layout_width="fill_parent"
			android:layout_height="wrap_content"
			android:layout_marginTop="24dp"
			android:layout_marginBottom="24dp"
			android:padding="12dp"
			android:text="Регистрация"
			local:MvxBind="Click RequestCodeCommand; Visibility BoolToVisInverted(CodeRequested)" />
		<TextView
			android:id="@+id/link_signup"
			android:layout_width="fill_parent"
			android:layout_height="wrap_content"
			android:layout_marginBottom="24dp"
			android:text="Вам будет выслан код по sms"
			android:gravity="center"
			android:textSize="16dip"
			local:MvxBind="Visibility BoolToVisInverted(CodeRequested)" />
		<android.support.design.widget.TextInputLayout
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:layout_marginTop="8dp"
			android:layout_marginBottom="8dp"
			local:MvxBind="Visible CodeRequested"
			android:id="@+id/textInputLayout2">
			<EditText
				android:id="@+id/input_code"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:inputType="phone"
				android:hint="Код из смс:"
				android:digits="0123456789"
				local:MvxBind="Text Code; Visible CodeRequested" />
			<requestFocus />
		</android.support.design.widget.TextInputLayout>
		<android.support.v7.widget.AppCompatButton
			android:id="@+id/btn_auth"
			android:layout_width="fill_parent"
			android:layout_height="wrap_content"
			android:layout_marginTop="24dp"
			android:layout_marginBottom="24dp"
			android:padding="12dp"
			android:text="Вход"
			local:MvxBind="Click RequestTokenCommand;Visible CodeRequested" />
		<TextView
			android:id="@+id/link_signup"
			android:layout_width="fill_parent"
			android:layout_height="wrap_content"
			android:layout_marginBottom="24dp"
			android:text="Введите шестизначный код из полученного sms сообщения."
			android:gravity="center"
			android:textSize="16dip"
			local:MvxBind="Visible CodeRequested" />
	</LinearLayout>
</ScrollView>