<?xml version="1.0" encoding="utf-8"?>
<shape xmlns:android="http://schemas.android.com/apk/res/android"
	android:shape="rectangle">
  <size
		android:width="1dp"
		android:height="24dp" />
  <solid android:color="@color/colorPrimaryDark" />
</shape>